@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
    string modelName = Model == null ? "app" : Model.Name; // need this for now because /app has no model, but can probably add one in from the AngularAppController
}

<html>
    <head>
        <base href="/app">
        <title>Hello @modelName</title>
    </head>
    <body>
        <div class="container">
            <p><a href="/">HOME</a></p>
            
            <p><a href="/about">About</a></p>

            <p><a href="/app">Ang</a></p>
        </div>
        <hr/>
        @RenderBody()
    </body>
</html>
                        