@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/pageHeader.cshtml")

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">			
			@Html.GetGridHtml(Model, "mainContent")
		</div>
	</div>
</div>